// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  background: rgb(183, 3, 3);
  color: white;

  text-align: center;
}

body {
  background-color: rgb(242, 4, 4);
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  height: 80px;
  margin: auto;
}

.box {
  border-top: 1px solid white;
  color: white;

  text-align: center;

  height: 80px;
  width: calc(100% / 4);
}

.line_height {
  line-height: 80px;
}

.non_line {

  margin-top: 20px;
}
